<body>
    <div class="container">
        <h1 class="mt-5">Get to Know Joel!</h1>
        <p>Here are some links to get to know Joel:</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> (where he performs regularly)</li>
            <li class="list-group-item"><a href="https://baconsale.com/">Baconsale site</a></li>
        </ul>
        <a href="https://baconsale.com/" class="d-block mt-3">
            <img src="~/img/baconsalekate.jpg" alt="Joel Hilton" class="img-fluid" style="max-width: 100%; height: auto;">
        </a>
    </div>
</body>
