@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="mt-5 mb-4">The Joel Hilton Film Collection</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="~/img/img_0026.jpg" alt="Joel Hilton Image" class="img-fluid rounded">
        </div>
    </div>
</div>
